services:
  db:
    image: postgres:15
    container_name: db-organizations
    environment:
      - POSTGRES_DB=study
      - POSTGRES_USER=study
      - POSTGRES_PASSWORD=study
    ports:
      - 5433:5432
    volumes:
      - db-organizations-data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U study -d study" ]
      interval: 5s
      timeout: 1s
      retries: 10
    restart: unless-stopped
    networks:
      - backend
  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "443:443"
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/ssl/server.crt:/etc/nginx/ssl/server.crt:ro
      - ./nginx/ssl/server.key:/etc/nginx/ssl/server.key:ro
      - ./nginx/logs:/var/log/nginx
    networks:
      - backend
      - frontend
  consul:
    image: consul:1.15.4
    container_name: consul-server
    ports:
      - "8500:8500"
      - "8600:8600/udp"
    command: consul agent -dev -client=0.0.0.0 -ui
    networks:
      - backend
    healthcheck:
      test: [ "CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:8500/v1/status/leader" ]
      interval: 10s
      timeout: 3s
      retries: 3
  orgdirectories-eureka:
    build:
      context: ./backend
      dockerfile: orgdirectories_eureka.Dockerfile
    image: docker.io/azat222/soa:orgdirectories_eureka
    container_name: orgdirectories-eureka
    ports:
      - "8761:8761"
    networks:
      - backend
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:8761/actuator/health"]
      interval: 10s
      timeout: 5s
      retries: 5
  orgdirectories-config-server:
    build:
      context: ./backend
      dockerfile: orgdirectories_config_server.Dockerfile
    image: docker.io/azat222/soa:orgdirectories_config_server
    container_name: orgdirectories-config-server
    ports:
      - "8888:8888"
    networks:
      - backend
  orgdirectories:
    build:
      context: ./backend
      dockerfile: orgdirectories.Dockerfile
    image: docker.io/azat222/soa:orgdirectories
    container_name: orgdirectories
    environment:
      CONFIG_SERVER: "http://orgdirectories-config-server:8888"
      SPRING_PROFILES_ACTIVE: docker
    ports:
      - "8082:8082"
    networks:
      - backend
  organizations:
    build:
      context: ./backend
      dockerfile: organizations.Dockerfile
    image: docker.io/azat222/soa:organizations
    container_name: organizations
    environment:
      DATABASE_HOST: db
      DATABASE_PORT: 5432
      DATABASE_DB: study
      DATABASE_USERNAME: study
      DATABASE_PASSWORD: study
      CONSUL_HOST: consul
      CONSUL_PORT: 8500
      SERVICE_NAME: organizations-service
      SERVICE_PORT: 8080
      SERVICE_ID: organizations-1
      HOST_ADDRESS: organizations
    ports:
      - "8081:8081"
    networks:
      - backend
  frontend:
    build:
      context: ./frontend
      dockerfile: frontend.Dockerfile
    container_name: frontend
    image: docker.io/azat222/soa:frontend
    ports:
      - "81:80"
    networks:
      - frontend

volumes:
  db-organizations-data:

networks:
  backend:
    name: backend
  frontend:
    name: frontend
